{% load static %}


<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solutions Infinity</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="assets/css/main.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
 <style>
  body{
    font-size: 15px;
  }
  .notification-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .notification-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .notification-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  }
  
  .notification-list li.unread {
    background-color: #f5f5f5;
  }
  
  .notification-list li a {
    color: #333;
    text-decoration: none;
  }
  
  .notification-list li a:hover {
    color: #000;
  }
  
  .timestamp {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
  }
  
  .mark-read-btn {
    border: none;
    background-color: transparent;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .mark-read-btn:hover {
    color: #000;
  }
  
  .no-notifications {
    padding: 10px;
    color: #999;
    font-style: italic;
  }
  .hidden {
    display: none;
}

/* Notification icon styling */
.notification-icon {
    cursor: pointer;
}
.notification-icon i {
  font-size: 24px; /* Adjust the icon size as needed */
  margin-left: 20px; /* Add spacing between the icon and the Logout button */
}
.notification-count{
  font-size: 15px; /* Adjust the icon size as needed */
  margin-left: 20px; /* Add spacing between the icon and the Logout button */
}

.chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-btn:hover {
  opacity: 0.8;
}

.chat-btn .fas {
  font-size: 25px;
}

.chat-btn .chat-btn-text {
  margin-left: 10px;
}

      
 </style>

</head>
<body>

<header>

<div class="nav-container">
    <nav>
        <div class="nav-brand">
            <div class="hamburger-menu-container">

                <div class="hamburger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="nav-dropdown-menu">
                    <a href="#" class="current-link">Home</a>
                    <h5>Public</h5>
                    <ul class="nav-ul">
                        <li class="nav-item">
                            <i class="fas fa-globe-europe"></i>
                            <a href="" class="nav-link">Stack Overflow</a>
                        </li>
                        <li class="nav-item"><a href="/all_tags" class="nav-link">Tags</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Users</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a href="/user_tags" class="nav-link">Watched Tags</a></li>
                    
                        {% endif %}
                    </ul>
                    
                    
                </div>
            </div>
            {% if user.is_authenticated %}
            <a href="/user_home" class="nav-icon">
                <i class="fa fa-code" aria-hidden="true"></i>
                <!-- <i class="fab fa-stack-overflow"></i> -->
                <a href="/user_home" style="text-decoration: none; color: black;"><div class="nav-icon-text">Solutions <span class="nav-bold-text" style= "color: rgb(5, 133, 54);"  >Infinity</span></a>
                <!-- <div class="nav-icon-text">stack <span class="nav-bold-text">overflow</span> -->

                </a>
            {% else %}

            <a href="/" class="nav-icon">
                <i class="fa fa-code" aria-hidden="true"></i>
                <!-- <i class="fab fa-stack-overflow"></i> -->
                <a href="/" style="text-decoration: none; color: black;"><div class="nav-icon-text">Solutions <span class="nav-bold-text" style= "color: rgb(5, 133, 54);"  >Infinity</span></a>
                <!-- <div class="nav-icon-text">stack <span class="nav-bold-text">overflow</span> -->

                </a>
                {% endif %}

                </div>
            
        </div>

        <div class="nav-search">
            <div class="#">
               
     <div class="input-group">
            
            </div>

            <div class="search-hints">
                <div class="search-arrow-up"></div>
                <div class="search-hint-body">
                    <div class="hints-grid-column">
                        <div class="hint-text"><span>[tag] </span> search within a tag</div>
                        <div class="hint-text"><span>user:1234 </span>  search by author</div>
                        <div class="hint-text"><span>"words here"</span> exact phrase </div>
                    </div>
                    <div class="hints-grid-column">
                        <div class="hint-text"><span>answers:0</span> unanswered questions</div>
                        <div class="hint-text"><span> score:3  </span> posts with a 3+ score</div>
                    </div>
                </div>
                <div class="search-hint-footer">
                    <a href="/ask_question" class="btn">Ask a question</a>
                    <a href="#" class="search-help">Search help</a>
                </div>
            </div>

        </div>
        <div class="form-outline">
            <input id="search-input" placeholder="Search Here" type="search" id="form1" class="form-control" />
            
          </div>
          <button id="search-button" type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="nav-right-buttons">
            <div class="search-btn">
                
                <i class="fas fa-search"></i>
            </div>
            
           {% if user.is_authenticated %}
           <a href="{% url 'logout' %}" class="btn btn-login">Log Out</a>
           
           
           <div class="notification-icon">
            <i class="fas fa-bell" onclick="toggleNotificationDropdown()"></i>
            <div class="notification-count">{{ notifications.count }}</div>
          </div>
          <div class="notification-dropdown">
            <!-- Dropdown content here -->
          </div>
          
          <!-- Notification dropdown -->
          <div  id="notification-dropdown" class="notification-dropdown hidden">
            <div class="notification-header">
              
              <a href="/mark-all-read" id="mark-all-read-btn">Mark all as read</a>
            </div>
            <ul class="notification-list">
              {% for notification in notifications %}
                <li class="{% if not notification.is_read %}unread{% endif %}">
                  <a href="{{ notification.url }}">
                    {{ notification.message }}
                    <span class="timestamp">{{ notification.timestamp|timesince }} ago</span>
                  </a>
                  <a href="/mark-read/{{ notification.id }}" class="mark-read-btn" data-notification-id="{{ notification.id }}">Mark as read</a>
                </li>
              {% empty %}
                <li class="no-notifications">No notifications.</li>
              {% endfor %}
            </ul>
          </div>
          <script>
            function toggleNotificationDropdown() {
              const notificationDropdown = document.getElementById('notification-dropdown');
              notificationDropdown.classList.toggle('hidden');
            }
            
          </script>

   
           
           {% else %}

                <a href="{% url 'login' %}" class="btn btn-login">Log in</a>
                <a href="{% url 'register' %}" class="btn btn-register">Sign up</a> 
           {% endif %}
           
        </div>
      
        <!-- <div class="nav-search">
            <div>
               
                <form action="" method="GET">
                    <input type="text" id="" name="search-area" placeholder="Search...">
                    <button type="submit" class="p-3 mb-2 bg-danger text-white" style="margin-left: 340px; border-radius: 25px; border: none; padding: 8px;">Search</button>
                </form>
            </div>
        

        </div> -->
   
    </nav>
</div>
<!-- <h1 style="font-size: 20px;">hello</h1> -->
    <div style="margin-top: 10px;">
        {% if messages %}
        {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        <h4 style="text-align: center;">{{ message }}</h4>
      </div>
      {% endfor %}
    {% endif %}
    </div>

        
</header>

<br>
<br>
<br><br><br>

      
<div class="container" style="min-height: 100vh;">
  <a onclick="goBack()" class="back-button"><i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a> &nbsp; &nbsp;

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
    <div class="row flex-lg-nowrap">
      
      <form method = "POST" enctype="multipart/form-data" action="" > 
        {% csrf_token %}
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    
                
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                          <img style="width: 100%;height: auto;" src = "{{profile.profile_image.url}}">
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{profile.first_name}}</h4>
                        <p class="mb-0">@{{profile.user.username}}</p>
                       
                        <div class="mt-2">
    
                          <div>
                            <i class="fa fa-fw fa-camera"></i>
                            <input type="file" id="fileInput" name="profile" />
                          </div>
                          <!-- <button onclick="chooseFile();" class="btn btn-primary" >
                            
                            <span>Change Photo</span>
                          </button> -->
                          
                        </div>
                      </div>
                      <div class="text-center text-sm-right">
                        <div class="text-muted"><small>Joined on {{profile.created_at}}</small></div>
                      </div>
                    </div>
                  </div>
                 
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>First Name</label>
                                  <input  class="form-control" type="text" name="fname" placeholder="first name"  minlength="2" required value="{{profile.first_name}}" style="font-size: 15px;" required>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Last Name</label>
                                  <input  class="form-control" type="text" name="lname" placeholder="last name"   minlength="2" required value="{{profile.last_name}}" style="font-size: 15px;" required>
                                </div>
                              </div>
                            </div>
                           
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group">
                                  <label>Mobile</label>
                                
                                  <input  class="form-control" type="text" name="mobile" placeholder="mobile" id="mobile" onblur="validateMobileNumber()"  value="{{profile.mobile}}" style="font-size: 15px;" required>
                                  <span id="mobileError" class="error"></span>
                                </div>

                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                          </div>
                        </div>
                      </form>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
         
        </div>
    
      </div>
    </form>
    </div>
    </div>
    <script>
      function validateMobileNumber() {
        const nameError = document.getElementById('mobileError');
        const mobileNumberInput = document.getElementById('mobile');
    
        const mobileNumberPattern = /^(0|91)?[6-9][0-9]{9}$/; // Regular expression to match 10-digit mobile numbers
        
        if (mobileNumberPattern.test(mobileNumberInput.value.trim())) {
          nameError.textContent = "";
      
          return true;
        } else {
          nameError.textContent = "Please enter a valid 10-digit mobile number.!";
         
          
          return false;
        }
      }
    </script>
    



         

